{% load static tailwind_tags %}
<html>
<head>
    <meta charset="UTF-8">

    <title>Sphere</title>
    
    <link rel="stylesheet" t href="{% static 'styles.css' %}">
</head>
{% tailwind_css %}

<body>

    <!-- Create Navbar here -->
    {% include 'crud_main/navbar.html' %}
    <div class="container mx-auto">
        <br>

        <!-- Notification messages -->


        {% block content %}



        {% endblock %}

    </div>


    <script src="{% static 'app.js' %}"></script>


</body>    
</html>